In [1]:
import pandas as pd
import numpy as np

In [2]:
#lendo as bases de dados  
notas_ficais = pd.read_csv('../data/raw/201904 sales reciepts.csv')
clientes = pd.read_csv('../data/raw/customer.csv')

#fazendo uma cópia
nf = notas_ficais.copy()
cl = clientes.copy()

In [3]:
#Junção de tabelas de notas fiscais e clientes 
total = cl.merge(nf, how='inner', on='customer_id')
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24852 entries, 0 to 24851
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customer_id          24852 non-null  int64
 1   home_store           24852 non-null  int64
 2   customer_first-name  24852 non-null  object
 3   customer_email       24852 non-null  object
 4   customer_since       24852 non-null  object
 5   loyalty_card_number  24852 non-null  object
 6   birthdate            24852 non-null  object
 7   gender               24852 non-null  object
 8   birth_year           24852 non-null  int64
 9   transaction_id       24852 non-null  int64
 10  transaction_date     24852 non-null  object
 11  transaction_time     24852 non-null  object
 12  sales_outlet_id      24852 non-null  int64
 13  staff_id             24852 non-null  int64
 14  instore_yn           24852 non-null  object
 15  order                24852 non-null  int64
 16  line_item_id         24852 non-null  int64
 17  product_id           24852 non-null  int64
 18  quantity             24852 non-null  int64
 19  line_item_amount     24852 non-null  float64
 20  unit_price           24852 non-null  float64
 21  promo_item_yn        24852 non-null  object
dtypes: float64(2), int64(10), object(10)
memory usage: 4.4+ MB

In [4]:
total.drop(columns = [
           i for i in total.columns if i not in ['customer_id', 'home_store', 'customer_first-name', 'gender', 'birth_year', 'product_id', 'quantity', 'promo_item_yn']],
           inplace= True)

In [5]:
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24852 entries, 0 to 24851
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customer_id          24852 non-null  int64
 1   home_store           24852 non-null  int64
 2   customer_first-name  24852 non-null  object
 3   gender               24852 non-null  object
 4   birth_year           24852 non-null  int64
 5   product_id           24852 non-null  int64
 6   quantity             24852 non-null  int64
 7   promo_item_yn        24852 non-null  object
dtypes: int64(5), object(3)
memory usage: 1.7+ MB

In [6]:
#Separando as colunas de interesse  
total_pedidos = total[['customer_id', 'quantity', 'product_id']] 
#Filtrando o produto e a quantidade de acordo com cada cliente  
pedidos_pcliente = total_pedidos.groupby(by=['customer_id', 'product_id']).sum()
pedidos_pcliente

                        quantity
customer_id product_id
1           23                 1
            28                 4
            32                 1
            37                 1
            57                 2
...                          ...
8501        43                 2
            45                 3
            47                 2
            51                 1
            61                 1

[21938 rows x 1 columns]

In [7]:
#Tambem filtrar a base de dados de produtos para ver a categoria de produto, tipo de produto que mais é vendida